*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


/*Menú color*/
.Menú{
padding-bottom: 70px;
background-color: #1867a9;

}
body{
  background-color: #1b1b1b;
}

.Navegació{
  margin-right: 10%;
  padding-top: 40px;
  
}

.Navegació > a{
  color: #ffffff;
  font-size: 18px;
  padding: 8px 5px 8px 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 14px;
  margin-left: 10px;
  margin-right: 15px;
  text-decoration: none;
}
.Navegació > a:hover{
  color: #ffffff;
  font-size: 18px;
  padding: 8px 5px 8px 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 14px;
  margin-left: 10px;
  margin-right: 15px;
  text-decoration: none;
  background-color: #1c75bdb4;
}
  
.Logo{
  float: left;
  margin-right: 75px;
  margin-left: 20px;
      
}
.Usuari{
  float: right;
  margin-left: 40px;
  
}

#telefón{
  float: left;
  padding-bottom: 80px;
}

.Contacte{
  margin-left: 30px;
  margin-top: 5%;
  font-size: 16px ;
  color: #f1f1f1;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Contacte-ns{
  font-size: 30px;
  margin-left: 10%;
  margin-bottom: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Contacte-text{
  margin-left: 12%;
  font-size: 20px;
  margin-right: 250px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Servei-ticket{
  font-size: 17px;
  margin: 40px 0 10px 12%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Tiquet2 > a {

  color: #ffffff;
  font-size: 17px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 40px 0 10px 12%;
  text-decoration: none;
}

.help-desk{
  font-size: 17px;
  margin: 40px 0 10px 12%;
  
}

#llista{
    margin: 10px 250px 10% 5%;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

footer{
  padding-top: 20px;
  padding-left: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #1b1b1b;
  color: #ffffff;
  font-size: 18px;
  position: relative;
  border: solid #f1f1f1 1px;
  padding-bottom: 20px ;

}

.Twitter{
  display: flex;

}


@media only screen and (max-width: 425px) {
    
    
  .Menú{
    padding-right: 50px;
    padding-left: 50px;
  }
  .Logo{
    padding-left: 20%;
    
  }
  .Usuari{
    padding-left: 5px;
  }
  #telefón{
    width: 233px;
    height: 243px;
    margin-left: 70px;
    padding-bottom: 40px;
  }
  .Contacte-ns{
    margin-left: 20%;
  }
  .Contacte-ns > h2{
    font-size: 30px;
  }
  .Contacte-text {

    margin-right: 50px;
    margin-left: 50px;
    
  }
  .Servei-ticket{
    margin-left: 20%;
  }
  .help-desk{
    margin-left: 20%;
  }

  #llista{
    margin-right: 30%;
  }
  Footer{
    margin-top: 30px;
    padding-left: 60px;
    align-content: center;
    
  }
}