*{
  margin: 0px;
  padding: 0px;
}


/*Menú color*/
.Menú{
  padding-bottom: 70px;
  background-color: #1867a9;
  
  }

  body{
    background-color: #1b1b1b;
 
 }
 .Navegació{
  margin-right: 10%;
  padding-top: 40px;
  
}

.Navegació > a{
  color: #ffffff;
  font-size: 18px;
  padding: 8px 5px 8px 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 14px;
  margin-left: 10px;
  margin-right: 15px;
  text-decoration: none;
}
.Navegació > a:hover{
  color: #ffffff;
  font-size: 18px;
  padding: 8px 5px 8px 10px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 14px;
  margin-left: 10px;
  margin-right: 15px;
  text-decoration: none;
  background-color: #1c75bdb4;
}
  
.Logo{
  float: left;
  margin-right: 75px;
  margin-left: 20px;
      
}
.Usuari{
  float: right;
  margin-left: 40px;
  
}

/*Part del menú de navegació */

.Configura-tot{
  border: #ffffff 5px;
  margin-left: 30%;
  border: #ffffff;
}
#Configura{
  color: #ffffff;
  margin-top: 30px;
  margin-left: 50px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
#Formulari{
  padding-left: 30px;
  
}

#Components{
  font-size: 15px;
  padding: 30px 30px 10px 30px;
  color: #ffffff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 50%;
  text-align: center;
  color: #1867a9;
}

#Desplegables{
  margin-left: 40px;
  text-align: center;
  width: 40%;
  } 
.Comprar{
  margin-left: 20%;
  
  margin-top: 50px;
}

.Preconfigurats{
  color: #ffffff;
  margin-top: 70px;
  margin-left: 90px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: #ffffff 2px;
}
#Preu{
  color: #ffffff;
  margin-top: 20px;
  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: #ffffff 2px;
}

#Caixa{
  margin-top: 30px;
}

.Components{
  margin-top: 30px;
  margin-bottom: 50px;
   
}

h3{
  font-size:20px;
  margin-bottom: 10px;
  margin-top: 5px;
  color: #1867a9;
}

h3 + p{
  font-size: 18px;
}


/*Part prinicpal de la página*/

footer{
  padding-top: 20px;
  padding-left: 30px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #1b1b1b;
  color: #ffffff;
  font-size: 18px;
  position: relative;
  border: solid #f1f1f1 1px;
  padding-bottom: 20px ;

}

@media only screen and (max-width: 425px) {
  .Menú{
    padding-right: 50px;
    padding-left: 50px;
  }
  .Logo{
    padding-left: 20%;
    
  }
  .Usuari{
    padding-left: 5px;
  }
  .Configura-tot{
    margin-left: 50px;
  }
  
  #Components{
    margin-left: 90px;
  }
  #Desplegables{
    margin-left: 1px;
    width: 80%;
  }
  .Preconfigurats{
    margin-left: 50px;
  }
  Footer{
    margin-top: 30px;
    padding-left: 60px;
    align-content: center;
    
  }
}